{% extends base_template %}
{% load i18n admin_modify %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
.hvad-language-tabs span, .nani-language-tabs span {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    position: relative;
    left: 0px;
    top: 1px;
    font-weight: bold;
}
.hvad-language-tabs span.current, .nani-language-tabs span.current {
    border-bottom: 1px solid #fff;
}
.hvad-language-tabs span.empty, .nani-language-tabs span.empty {
    opacity: 0.7;
    font-weight: normal;
}
.hvad-language-tabs a.deletelink, .nani-language-tabs a.deletelink {
    right: -17px;
    bottom: 4px;
    position: relative;
}
</style>
{% endblock %}

{% block object-tools %}
{{ block.super }}
{% include "admin/hvad/includes/translation_tabs.html" %}
{% endblock %}
